@import 'constant';

.home {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.quarter-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 10px 60px;

  .icon-container {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .expand-icon {
      -moz-transition: all .2s linear !important;
      -webkit-transition: all .2s linear !important;
      transition: all .2s linear !important;
      font-size: 30px;
    }

    .rotate {
      transform: rotate(-180deg);
    }
  }

  .quater-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}