@import 'constant';

.home {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .animated-container {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  // .MuiCollapse-wrapper, .MuiCollapse-wrapperInner, .MuiCollapse-container {
  //   width: 100%;
  // }

  .header-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color:#034263;
    position: relative;

    .search-input {
      width: 100%;
      height: 100%;
      border: none;
      box-shadow: none;
      outline: none;
      font-size: 16px;
      letter-spacing: 2%;
      background-color: #F1F1F1;
    }
  }

  .filter-dropdown {
    background-color: #034263;
    width: 100%;
    z-index: 1000;

    .filter-container {
      display: flex;
      flex-direction: column;
      padding-top: 8px;
      padding-bottom: 4px;
      align-items: center;

      .filter-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 4px 35px;
        font-size: 16px;
        color: white;
      }
    }
  }
    
  .search-tab {
    background-color: #F1F1F1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 7px;
    border-radius: 22px;
    border: 1px solid #034263;
    box-sizing: border-box;
    padding: 3px 10px 3px 28px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

    &.expand {
      width: 100%;
    }
  }
}

.quarter-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 10px 60px;

  .icon-container {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .expand-icon {
      -moz-transition: all .2s linear !important;
      -webkit-transition: all .2s linear !important;
      transition: all .2s linear !important;
      font-size: 30px;
    }

    .rotate {
      transform: rotate(-180deg);
    }
  }

  .quater-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}